@font-face {
  font-family: "Open Sans";
  src: url("/assets/fonts/opensans-regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: "Open Sans";
  src: url("/assets/fonts/opensans-semibold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: "Open Sans";
  src: url("/assets/fonts/opensans-bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: fallback;
}

:root {
  --color-main: #dfdfdf;
  --color-text: #333333;
  --color-white: #ffffff;
  --color-primary: #4149F2;
  --color-bg: #2E2B44;
  --color-bg-grey: #343050;
  --color-bg-dark: #212133;
  --color-flash: #EDF0F9;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  background-color: var(--color-flash);
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  outline: none;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1210px;
}

.btn-reset {
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
}

.section {
  padding: 50px 0px;
}

.title {
  margin: 0;
  margin-bottom: 50px;
  font-size: 32px;
  font-weight: normal;
  color: var(--color-text);
  text-align: center;
}

/* header */

.header {
  background-color: var(--color-primary);
}

.header__content {
  padding: 30px 0px;
}

.nav__list {
  margin-left: 0 10%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.nav__item:not(:last-child) {
  margin-right: 32px;
}

.nav__link {
  font-size: 20px;
  line-height: 100%;
  font-weight: 400;
  color: var(--color-white);
}

.burger {
  display: none;
  width: 40px;
  height: 40px;
  background-color: red;
}

/* hero */

.hero {
  background: radial-gradient(44.07% 44.07% at 67.78% 55.93%, var(--color-bg-grey) 0%, var(--color-bg-dark) 100%);;
}

.hero__container {
  display: flex;
  align-items: center;
  justify-content: space-around  ;
}

.hero__img {
  display: block;
  width: 200px;
  max-height: 200px;
  object-fit: cover;
  border-radius: 50%;
}

.hero__content {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.hero__title {
  font-size: 38px;
  font-weight: 600;
  line-height: 100%;
  color: var(--color-white);
}

.hero__descr {
  margin: 0;
  font-size: 24px;
  color: var(--color-flash)
}

/* about */

.about__descr {
  margin: 0;
  width: 80%;
}

/* skills */

.skills {
  background-color: var(--color-bg);
}

.skills__title {
  color: var(--color-white);
}

.skills__list {
  display: flex;
  flex-wrap: wrap;
}

.skills__item:not(:last-child) {
  margin-right: 35px;
}

.skills__item:first-child {
  margin-bottom: 35px;
}

.skills__img {
  display: inline-block;
  width: 80px;
  height: 80px;
  object-fit: cover;
}

/* projects */

.projects {
  background-color: var(--color-main);
}

.projects__content {
  position: relative;
}

.swiper-wrapper {
  justify-content: space-between;
}

.swiper__navigation {
  position: absolute;
  top: calc(50% - 25px);
  left: -25px;
  right: -25px;
  z-index: 100;
  display: flex;
  justify-content: space-between;
}

.swiper__pagination {
  width: fit-content;
}

.swiper__btn_prev,
.swiper__btn_next {
  width: 50px;
  height: 50px;
  z-index: 100;
  border-radius: 100%;
  background-color: var(--color-primary);
}

.swiper-slide {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 460px;
  overflow: hidden;
  border-radius: 10px;
}

.swiper-slide__img {
  min-height: 300px;
  object-fit: fill;
}

.swiper-slide__content {
  padding: 14px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 100%;
  background-color: var(--color-flash);
}

.swiper-slide__title {
  margin: 0;
  margin-bottom: 14px;
  font-size: 20px;
  font-weight: 600;
  color: #000;
}

.swiper-slide__descr {
  margin: 0;
  margin-bottom: 14px;
  font-size: 16px;
  line-height: 140%;
}

.swiper-slide__link {
  display: inline-block;
  padding: 10px 20px;
  background-color: var(--color-primary);
  border-radius: 10px;
  color: var(--color-white);
  /* margin-top: auto; */
}

/* education */

.education {
  background-color: var(--color-bg);
}

.education__container {
  display: flex;
}

.education__left,
.education__right {
  width: calc(50% - 15px);
  padding: 20px;
  border-radius: 10px;
}

.education__left {
  margin-right: 25px;
}

.education__list {
  display: flex;
  flex-direction: column;
}

.education__item:not(:last-child) {
  margin-bottom: 25px;
}

.education__item:not(:last-child)::after {
  content: "";
  display: block;
  /* margin: 0 auto; */
  width: 100%;
  height: 1px;
  border-radius: 1px;
  background-color: var(--color-main);
}

.education__title {
  margin-bottom: 30px;
  text-align: start;
  color: var(--color-white);
}

.education__place {
  margin: 0;
  margin-bottom: 8px;
  font-size: 16px;
  font-weight: 600;
  color: var(--color-white);
}

.education__term {
  display: inline-block;
  margin-bottom: 10px;
  font-size: 12px;
  color: var(--color-main);
}

.education__text {
  margin: 0;
  margin-bottom: 10px;
  font-size: 12px;
  color: var(--color-white);
}

/* contacts */

.contacts__item:not(:last-child) {
  margin-bottom: 30px;
}

.contacts__link {
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 20px;
  font-weight: 600;
  line-height: 100%;
  color: var(--color-text);
  transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.contacts__link:focus {
  color: var(--color-primary);
  transform: scale(1.1);
}

.contacts__link:hover,
.contacts__link:focus {
  color: var(--color-primary);
  transform: scale(1.1);
}

.contacts__link:active {
  color: var(--color-bg-grey);
  transform: scale(1);
}

.contacts__link::before {
  content: "";
  display: inline-block;
  margin-right: 10px;
  width: 40px;
  height: 40px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.contacts__link-mail::before {
  background-image: url("/assets/svg/email.svg");
}

.contacts__link-tel::before {
  background-image: url("/assets/svg/mobile.svg");
}

.contacts__link-telegram::before {
  background-image: url("/assets/svg/telegram-logo-svgrepo-com.svg");
}

.contacts__link-discord::before {
  background-image: url("/assets/svg/discord.svg");
}

.contacts__link-linkedin::before {
  background-image: url("/assets/svg/linkedin.svg");
}


/* footer */

.footer {
  background-color: var(--color-bg);
}

.footer__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 0px;
}

.footer__item {
  font-size: 0;
  line-height: 0;
}

.footer__link--rss {
  display: inline-block;
  width: 88px;
  height: 33px;
  background-image: url("/assets/svg/rs_school_js.svg");
  background-repeat: no-repeat;
}

.footer__link {
  display: inline-flex;
  align-items: center;
  font-size: 20px;
  font-weight: normal;
  color: var(--color-white);
  transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.footer__link:focus {
  color: var(--color-primary);
  transform: scale(1.1);
}

.footer__link:hover {
  color: var(--color-primary);
  transform: scale(1.1);
}

.footer__link:active {
  color: var(--color-flash);
  transform: scale(0.9);
}

.footer__link--github::before {
  content: "";
  margin-right: 15px;
  display: inline-block;
  width: 40px;
  height: 40px;
  background-image: url("/assets/svg/github.svg");
  background-repeat: no-repeat;
}

.footer__year {
  font-size: 20px;
  font-weight: 600;
  color: var(--color-white);
}

